{{!-- {{#if isBoard}} --}}
<h1>Salut</h1>
{{!-- {{> board_article }} --}}

<table>
  <thead>
    <tr>
      <th scope="col" name="">Title</th>
      <th scope="col" name="">prompt</th>
      <th scope="col" name="">Author</th>
      <th scope="col" name="">date</th>
    </tr>
  </thead>
  <tbody>
    {{#each ArticlesList}}
    <tr id="Articles_{{this._id}}" class="row">
      <td class="cell">{{ this.title }}</td>
      <td class="cell">{{ this.prompt }}</td>
      <td class="cell">{{ this.author }}</td>
      <td class="cell">
        <a href="/articles_dashboard/{{this._id}}" class="delete btn">X</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <a href="/process-article">Create</a>
</table>