<article class="coreText"></article>
<header class="articleHeader">
  <h1 class="title">{{article.title}}</h1>
  <h2 class="prompt">{{article.prompt}}</h2>
</header>
    <div>
      <img src="{{article.imgarticle}}" class="img-in-article-container">
    </div>
<div>
  {{article.text}}

</div>
<footer class="articleFooter">
  <p class="author">Written by {{article.author}}</p>
  <time datetime="{{article.date}}">{{article.date}}</time>
</footer>
</article>
<div class="commentMaker">
  <form action="" method="post">
    <label for="comments">Leave a comment here !</label>
    <input id="comments" type="text" name="text" value="best article ever">
    <button type="submit">ADD</button>
  </form>
</div>
<div class="commentContainer">
  {{#each article.comments}}
  <p>{{this}}</p>
  {{/each}}
</div>