<div class="gallery-container">
  californiagirl 
  {{#each ArticlesList}}
  {{#compare this.inglrcontainer "yes" operator="=="}}
  <a href="/articlepage/{{this._id}}"><img
      src="{{this.imgarticle}}" alt="CAPTURE" class="capture">
    <span class="upper">
      {{this.category}}
    </span>
    <span class="middle">
      {{this.title}}
    </span>
  </a>
  {{/compare}}
  {{/each}}
</div>

<hr class="between-gl-art">

<div class="ln">Last Articles</div>

{{#each ArticlesList}}
  {{#compare this.inglrcontainer "no" operator="=="}}

<a href="/articlepage/{{this._id}}">
  <div class="one-article-container">
    <div>
      <img src="{{this.imgarticle}}" class="img-in-article-container">
    </div>
    <div class="text">
      <h3>
        {{this.title}}
      </h3>
      <P>
        {{this.prompt}}
      </P>
    </div>
  </div>
</a>
  {{/compare}}



{{/each}}