<h1>PROFILE PAGE</h1>

<div class="profile_container">
  <section class="pseudo">
    <h1>your pseudo</h1>
    <p>{{profile.pseudo}}</p>
  </section>
  <section class="email">
    <h1>your email</h1>
    <p>{{profile.email}}</p>
  </section>
  <section class="password">
    <h1>your password</h1>
    <p>{{profile.password}}</p>
  </section>
</div>

{{!-- // -- -----------🚀 FILE UPLOAD ------------- -- --}}
  <section class="">
    <h1>your password</h1>
    <p><img src="{{user.avatar}}" alt="avatar"></p>
  </section>
{{!-- // -- -----------🚀 FILE UPLOAD ------------- -- --}}


<div>

  <a href="/profile-edit/{{profile._id}}">Edit your account settings</a>
  {{!-- <button class="delete_profile">Delete</button> --}}
  <a href="/profile-remove/{{profile._id}}">Delete your account</a>
</div>

<a href="/logout"><button type="button" name="log-out">LOG OUT</button></a>