<h1>PROFILE PAGE</h1>

<div class="profile_container">
  <section class="pseudo">
    <h1>your pseudo</h1>
    <p>{{profile.pseudo}}</p>
  </section>
  <section class="email">
    <h1>your email</h1>
    <p>{{profile.email}}</p>
  </section>
  <section class="password">
    <h1>your password</h1>
    <p>{{profile.password}}</p>
  </section>
</div>


<div>

  <a href="/profile-edit/{{profile._id}}">Edit</a>
  {{!-- <button class="delete_profile">Delete</button> --}}
  <a href="/profile-remove/{{profile._id}}">delete</a>
</div>